<ng-container *ngIf="walletUserTransaction$|async as userTransaction">
    <div class="wallet-container">
        <div class="holding-container">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="balance-header">
                        <i class="fa-solid fa-coins"></i>  Available balance  <i class="fa-solid fa-coins"></i>
                    </div>
                </ng-template>
                <h1 class="balance"> {{userTransaction.user.balance| currency:'EUR'}}</h1>
            </p-card>

        </div>
        <div class="transaction-container">

            <p-card header="Open transactions">
                <p class="m-0">
                    <app-transaction [transactions]="userTransaction.transactions"></app-transaction>
                </p>
            </p-card>
        </div>
    </div>

</ng-container>