.wallet-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 16px;
}

.holding-container {
    grid-column: span 5;
}

.transaction-container {
    grid-column: span 12;
}

.balance {
    text-align: center;
    margin: 0.5rem 0rem;
}

.balance-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding: 1.25rem;
}


::ng-deep .trade-container .p-card {
    height: 100%;
}