<ng-container *ngIf="walletUserTransaction$|async as userTransaction">
    <div class="wallet-container">
        <div class="holding-container">
            <p-card [header]="userTransaction.user.balance+' EUR'">
                <p class="m-0">
                    holding-container
                </p>
            </p-card>

        </div>
        <div class="transaction-container">

            <p-card header="Open transactions">
                <p class="m-0">
                    <app-transaction [transactions]="userTransaction.transactions"></app-transaction>
                </p>
            </p-card>
        </div>
    </div>

</ng-container>