<ng-container *ngIf="selectedStockVM$|async as stockVm">
    <div *ngIf="!stockVm.loading else loading">

        <div class="trade-container">
            <div class="holding-container">
                <p-card [header]="stockVm.ticker!.symbol">
                    <p class="m-0">
                        holding-container
                    </p>
                </p-card>
            </div>

            <div class="stat-container">
                <p-card [header]="stockVm.ticker!.symbol">
                    <p class="m-0">
                        stat-container
                    </p>
                </p-card>
            </div>
            <div class="chart-container">
                <p-card [header]="stockVm.ticker!.symbol">
                    <p class="m-0">
                        chart-container
                    </p>
                </p-card>
            </div>
            <div class="sidebar-container">
                <p-card [header]="stockVm.ticker!.symbol">
                    <p class="m-0">
                    </p>
                </p-card>
            </div>

        </div>

        {{stockVm.ticker|json}}
    </div>
    <ng-template #loading>
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </ng-template>
</ng-container>