<ng-container *ngIf="selectedStockVM$|async as stockVm">
    <div *ngIf="!stockVm.loading else loading">
        <div class="flex">
            <p-card [header]="stockVm.ticker!.symbol" class="flex-1">
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                    esse, cupiditate neque
                    quas!
                </p>
            </p-card>
            <p-card class="flex-1">
                <p class="m-0">

                </p>
            </p-card>
        </div>
        <div class="flex">
            <p-card class="flex-3">
                <p class="m-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae
                    numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                    esse, cupiditate neque
                    quas!
                </p>
            </p-card>
            <div class="flex-1">
                <p-card header="Details">
                    <p class="m-0">

                    </p>
                </p-card>
                <p-card>
                    <p class="m-0">
Buy/Sell
                    </p>
                </p-card>
            </div>
        </div>

        {{stockVm.ticker|json}}
    </div>
    <ng-template #loading>
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </ng-template>
</ng-container>