.layout-sidebar {
    position: fixed;
    width: 14rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 5rem);
    left: 0;
    top: 5rem;
    -webkit-user-select: none;
    user-select: none;
    background: #ffffff;
    z-index: 999;
}

.sideMenu {
    list-style: none;
}

.sideMenu li {
    margin-bottom: 1rem;
}


.sideMenu i {
    margin-right: 1rem;
}

a {
    text-decoration: none;
}