<div class="layout-sidebar">
    <h2>General</h2>
    <ul class="sideMenu">
        <li>
            <a routerLink="/trade">
                <i class="fa-solid fa-house"></i> Market
            </a>
        </li>
        <li>
            <a routerLink="/dashboard">
                <i class="fa-solid fa-gauge"></i> Dashboard
            </a>

        </li>
        <li>
            <a routerLink="/analytics">
                <i class="fa-solid fa-chart-simple"></i> Analytics
            </a>

        </li>
        <li>
            <a routerLink="/news">
                <i class="fa-solid fa-bookmark"></i> News
            </a>

        </li>
        <li>
            <a routerLink="/news">
                <i class="fa-solid fa-magnifying-glass-chart"></i> Reporting
            </a>
        </li>
        <li>
            <a routerLink="/wallet">
                <i class="fa-solid fa-wallet"></i> Wallet
            </a>
        </li>
    </ul>
</div>